body {
  font-family: "Arial", sans-serif;
  margin: 0;
  color: #fff;
  background-color: #0d1321;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

header {
  padding: 20px 0;
  text-align: center;
}

.header-nav {
  background: #012d63;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header-nav-list {
  display: flex;
  align-items: center;
}

.header-nav-list-item {
  margin: 0 10px;
}

.logo {
  height: 50px;
}

.hero {
  background-image: url("../img/section/bg-foto/bg-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 0px;
  padding-bottom: 183px;
  padding-left: 60px;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.hero-logo {
  margin-left: 6px;
}
.logo-text {
  color: #fff;
  font-family: PT Serif;
  font-size: 48px;
  margin-left: 31px;
}
.hero-title {
  color: #fff;
  font-family: Playfair Display;
  font-size: 144px;
  font-weight: 400;
}
.hero-subtitle {
  color: #fff;
  font-family: Playfair Display;
  font-size: 72px;
  font-weight: 400;
  margin-bottom: 16px;
}
.hero-text {
  color: #fff;
  font-size: 18px;
  margin-bottom: 41px;
}
.hero-button {
  background-color: #8e32c6;
  border: none;
  border-radius: 10px;
  padding: 20px 61px;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}

.hero-button:hover {
  background-color: #6e0bab;
  cursor: pointer;
}

.advantage {
  background-image: url("../img/section/feature/feature-bg.jpg");
  background-size: cover;
  padding-top: 105px;
  padding-bottom: 105px;
}

.advantage-list {
  display: flex;
  border: 5px solid #8e32c6;
}

.advantage-list-item {
  width: 300px;
  height: 396px;
  flex-shrink: 0;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 25px;
}

.adv-li-it-mid {
  padding-left: 95px;
  padding-right: 95px;
  margin-top: 25px;
  margin-bottom: 20px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.advantage-item-text {
  color: #fff;
  text-align: center;
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 400;
}

.reviews {
  background-image: url(../img/section/bg-foto/Reviews-bg.png);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  background-color: #ffffff;
}

.review {
  background-color: #28284e;
  padding: 20px;
  margin: 0 10px;
  border-radius: 10px;
  width: 30%;
  text-align: center;
}

.review p {
  margin-bottom: 10px;
}

.review:nth-child(1) {
  background-color: #3a3a65;
}

.review:nth-child(2) {
  background-color: #50408d;
}

.review:nth-child(3) {
  background-color: #6857b7;
}

.order {
  background-image: url(../img/section/bg-foto/order-bg.png);
  padding: 40px 20px;
  background-color: #0d1321;
  text-align: center;
}

.order form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order input,
.order button {
  padding: 10px;
  margin: 10px;
  border: none;
  font-size: 1em;
}

.order-text {
  width: 580px;
  height: 50px;
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 25px;
  display: block;
  margin: 0 auto;
  margin-bottom: 19px;
  border: none;
  border-radius: 50px;
  transition: all 0.4s;
}

.order-text::placeholder {
  color: #959595;
  font-size: 24px;
  font-weight: 400;
}

.order input {
  border-radius: 50px;
  width: 300px;
}

.order input:hover {
  width: 350px;
}

.order button {
  background-color: #8e32c6;
  color: #fff;
  cursor: pointer;
  border-radius: 16px;
}

.order button:hover {
  background-color: #6e0bab;
}

footer {
  background-color: #1e1e2d;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer .contact,
footer .emails {
  display: flex;
  flex-direction: column;
}

footer p {
  margin: 5px 0;
}

footer .emails p {
  text-align: right;
}

@media (max-width: 768px) {
  .header-nav {
    flex-direction: column;
  }
  .header-nav-list {
    flex-direction: column;
  }
  .features,
  .reviews {
    flex-direction: column;
  }
  .review {
    width: 80%;
    margin-bottom: 20px;
  }
}
.review-1 {
  width: 255px;
  height: 292px;
  flex-shrink: 0;
  border-radius: 15px;

  background: linear-gradient(
    #00e5e6 7.29%,
    #00a8f7 26.04%,
    #9a76f9 62.5%,
    #cc5ec2 100%
  );
  box-shadow: 0px 14px 0px -5px #7b54b2, 0px 30px 0px -13px #533978;
}

.review-1,
text {
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.review-2 {
  width: 255px;
  height: 292px;
  margin-left: 93px;
  flex-shrink: 0;
  border-radius: 15px;
  background: linear-gradient(
    137deg,
    #ff68b4 0%,
    #ff45e1 26.04%,
    #ce3aff 62.84%,
    #8961ff 100%
  );
  box-shadow: 0px 14px 0px -5px #9159b1, 0px 30px 0px -13px #61337c;
}

.review-2,
text {
  width: 228px;
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.review-3 {
  width: 255px;
  height: 292px;
  margin-left: 93px;
  flex-shrink: 0;
  border-radius: 15px;
  background: linear-gradient(
    #ffe128 0%,
    #ff9b5c 30.21%,
    #ff8381 63.29%,
    #ff5489 100%
  );
  box-shadow: 0px 14px 0px -5px #b95a4c, 0px 30px 0px -13px #732f26;
}

.review-3,
text {
  width: 228px;
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.top-footer-list {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top-footer-item {
  display: flex;
  justify-content: space-between;
}

.footer-line {
  width: 1400px;
  height: 1px;
}

.footer-logo {
  margin-left: 1180px;
}

.footer-logo-text {
  font-family: PT Serif;
  font-size: 24px;
  position: relative;
  bottom: 10%;
  margin-left: 1190px;
}
